.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(50%, auto) 1fr;
    grid-template-areas: 'sidebar main';
}

.box {
    height: 200px;
    width: 90%;
    border: 1px solid grey;
    margin-left: 23px;
    margin-right: 0px;
    border: 1px solid #d4dde5;
}
.table {
    border: 1px solid #d4dde5;
}
.openMappButton {
    margin: 10px 23px;
    width: 90%;
}

.secondContainer {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: 'sidebar main';
    border: 1px solid grey;
    margin: 10px 0px;
    padding: 5px;
    background-color: #f2f9ff;
    padding: 15px;
}

.secondContainer label {
    color: #4287bd;
    padding: 16px;
}
.secondContainer h1 {
    color: rgb(44, 102, 147);
}
.secondContainer p {
    margin: 0 0 16px 0;
    padding: 16px;
    background-color: white;
    border: 1px solid rgb(232, 237, 242);
}
h1 {
    color: rgb(44, 102, 147);
}
