.container {
    width: 450px;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: 'sidebar main';
    padding: 10px;
    border: 1px solid rgb(232, 237, 242);
    background-color: #f2f9ff;
    margin: 10px 10px 10px 10px;
}

.container p {
    margin: 0 0 16px 0;
    padding: 16px;
    background-color: white;
}
.container label {
    color: #4287bd;
}
h1 {
    color: rgb(44, 102, 147);
}

input {
    background-color: #eee;
    margin-bottom: 10px;
    margin-top: 0px;
    padding-bottom: 5px;
    padding-top: 0px;
}
