.container {
    background-color: #f2f9ff;
    border: 1px solid #e8edf2;
    display: grid;
    font-size: 1rem;
    grid-template-areas: 'sidebar main';
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    padding: 10px;
    width: 450px;
}

.container p {
    background-color: #fff;
    border: 1px solid #e8edf2;
    margin: 0 0 16px;
    padding: 16px;
}

.container label {
    color: #4287bd;
    padding: 16px;
}

.fullName {
    color: #2c6693;
}
