.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: 'sidebar main';
}
.menu {
    border-right: 1px solid rgb(128, 128, 128, 0.5);
    grid-area: sidebar;
}

.main {
    grid-area: main;
    margin: 0;
}
.maincontent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* ------------------------------------------------------------------*/

/* MAP */

.mapBig {
    height: 100vh;
    z-index: 50;
}

.mapSmall {
    height: 100%;
    width: 100%;
    z-index: 50;
}

.text {
    color: red;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1.5em;
}

/* ------------------------------------------------------------------*/

/* BACKDROP */

/* .Backdrop {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.5);
} */

/* ------------------------------------------------------------------*/

/* LOADER */
.loader,
.loader:before,
.loader:after {
    border-radius: 50%;
}
.loader {
    color: #2c6693;
    font-size: 11px;
    text-indent: -99999em;
    margin: 55px auto;
    position: relative;
    width: 10em;
    height: 10em;
    box-shadow: inset 0 0 0 1em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before,
.loader:after {
    position: absolute;
    content: '';
}
.loader:before {
    width: 5.2em;
    height: 10.2em;
    background: #fff;
    border-radius: 10.2em 0 0 10.2em;
    top: -0.1em;
    left: -0.1em;
    -webkit-transform-origin: 5.1em 5.1em;
    transform-origin: 5.1em 5.1em;
    -webkit-animation: load2 2s infinite ease 1.5s;
    animation: load2 2s infinite ease 1.5s;
}
.loader:after {
    width: 5.2em;
    height: 10.2em;
    background: #fff;
    border-radius: 0 10.2em 10.2em 0;
    top: -0.1em;
    left: 4.9em;
    -webkit-transform-origin: 0.1em 5.1em;
    transform-origin: 0.1em 5.1em;
    -webkit-animation: load2 2s infinite ease;
    animation: load2 2s infinite ease;
}
.loading {
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
@-webkit-keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load2 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.active,
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
}

.active:after {
    content: '\2212';
}

.headingColor {
    color: rgb(44, 102, 147);
}