.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(200px, auto) 1fr;
    grid-template-areas: 'sidebar main';
}
.menu {
    border-right: 1px solid rgb(128, 128, 128, 0.5);
    grid-area: sidebar;
}

.main {
    grid-area: main;
}
.maincontent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* ------------------------------------------------------------------*/

/* MAP */

.mapBig {
    height: 100vh;
    z-index: 50;
}

.mapSmall {
    height: 100%;
    width: 100%;
    z-index: 50;
}

.text {
    color: red;
    background: transparent;
    border: 0;
    box-shadow: none;
    font-size: 1.5em;
}






