.container {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    border-top: 1px solid gray;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(400px, auto) 1fr;
    grid-template-areas:
        'sidebar main'
        'sidebar mapbtn';
}

.box {
    height: 100%;
    width: 100%;
}
.table {
    margin: 10px 0 10px 0;
    height: 200px;
}

.tableBody {
    overflow: scroll;
}

.tableDetails {
    overflow: scroll;
    overflow-x: hidden;
    grid-area: sidebar;
    max-height: 400px;
    margin: 12px;
}
.openMappButton {
    margin-left: 10px;
    width: 100%;
}

.sectionContainer {
    margin: 10px;
    width: 70%;
    display: flex;
    justify-self: center;
}
.sectionBtn {
    display: flex;
    justify-self: center;
}
.highlightBorder {
    padding: 0 !important;
    border: 1px solid gray !important;
}

.isActive {
    background-color: #d4dde5;
}

.zebraStripping {
    background-color: #f7fbfc;
}

.accordion {
    background-color: transparent;
    color: transparent;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 1s all ease-out;
}

.active,
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
}

.active:after {
    content: '\2212';
}
